/* react-date-range - work side calendar */
div#work-side-calendar div.rdrMonthAndYearWrapper {
  height: 40px;
}
div#work-side-calendar div.rdrDays {
  margin-top: 16px;
  row-gap: 16px;
}
div#work-side-calendar span.rdrDayNumber > span {
  color: #1d2429;
}
div#work-side-calendar span.rdrStartEdge.order-0 {
  top: 30px !important;
  bottom: 0 !important;;
}
div#work-side-calendar span.rdrInRange.order-0 {
  top: 30px !important;
  bottom: 0 !important;;
}
div#work-side-calendar span.rdrEndEdge.order-0 {
  top: 30px !important;
  bottom: 0 !important;;
}

div#work-side-calendar span.rdrStartEdge.order-1 {
  top: 40px !important;
  bottom: -10px !important;;
}
div#work-side-calendar span.rdrInRange.order-1 {
  top: 40px !important;
  bottom: -10px !important;;
}
div#work-side-calendar span.rdrEndEdge.order-1 {
  top: 40px !important;
  bottom: -10px !important;;
}

div#work-side-calendar span.rdrStartEdge.order-2 {
  top: 50px !important;
  bottom: -20px !important;;
}
div#work-side-calendar span.rdrInRange.order-2 {
  top: 50px !important;
  bottom: -20px !important;;
}
div#work-side-calendar span.rdrEndEdge.order-2 {
  top: 50px !important;
  bottom: -20px !important;;
}

div#work-side-calendar span.rdrStartEdge.order-3 {
  top: 60px !important;
  bottom: -30px !important;;
}
div#work-side-calendar span.rdrInRange.order-3 {
  top: 60px !important;
  bottom: -30px !important;;
}
div#work-side-calendar span.rdrEndEdge.order-3 {
  top: 60px !important;
  bottom: -30px !important;;
}

div#work-side-calendar span.rdrStartEdge.order-4 {
  top: 70px !important;
  bottom: -40px !important;;
}
div#work-side-calendar span.rdrInRange.order-4 {
  top: 70px !important;
  bottom: -40px !important;;
}
div#work-side-calendar span.rdrEndEdge.order-4 {
  top: 70px !important;
  bottom: -40px !important;;
}
