div#task-calendar table.p-datepicker-calendar {
  table-layout: fixed !important;
}

div#work-side-prime-calendar table.p-datepicker-calendar {
  table-layout: fixed !important;
}
div#work-side-prime-calendar td {
  padding: 8px 0;
}
div#work-side-prime-calendar td.task-td {
  padding: 2px 0;
}
div#work-side-prime-calendar .p-datepicker table td:not(.task-td) span {
  width: 100%;
  background: unset;
}
div#work-side-prime-calendar .p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):focus {
  box-shadow: 0 0 0 0.1rem #bfdbfe;
}
div#work-side-prime-calendar .p-datepicker table td.p-datepicker-today > span {
  background: #eff6ff !important;
  color: #001487;
  font-weight: 600;
}
div#work-side-prime-calendar .p-datepicker table td > span.tableDataSpan {
  border-radius: unset;
  height: 4px;
}

div#work-side-prime-calendar td[data-pc-section="day"]:not(.p-datepicker-other-month) {
  /*background-color: red !important;*/
}

.p-confirm-popup .p-confirm-popup-content {
  padding: 16px !important;
}

div.p-confirm-popup-content > span.p-confirm-popup-message {
  margin-left: 0;
}

.p-confirm-popup .p-confirm-popup-footer {
  padding: 0 16px 16px 16px;
}

.p-button {
  border: 1px solid #e5e7eb;
  transition: unset;
}
.p-button:focus {
  outline: none;
  box-shadow: none;
}
